.leftSideBarText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
}



.loginPageContainer{
   display: flex;
   background-color: aqua;
   height: 100%;
   width: 100%;
}
.loginLeftSideBarContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: black;
    height: 100%;
}
.leftSidebarCategoryContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 100px;
}   
.twitterLogoLeftSidebar{
    width: 30px;
    height: 30px;
    display: block;
}
.leftSidebarIcon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 1s ease;
}
.leftSidebarIcon:hover{
    background-color: black;
}
.leftSidebarCategory{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    border-radius: 25px;
    width: 150px;
    transition: 1s ease;
    cursor: pointer;
}
.leftSidebarCategory:hover{
background-color: grey;
}








.loginPostContainer{
    background-color: yellow;
    height: 100%;
    width: 42%;
}
.loginPostHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    height: 60px;
}
.loginPostSearchContainer{
    display: flex;
    align-items: center;
    width: 510px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(33, 35, 39);
    margin-left: 14px;
}
.loginPostSearchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    padding-left: 10px;
}
.loginPostInput::placeholder{
    font-size: 16px;

}
.loginPostInput{
    border: none;
    height: 45px;
    width: 400px;
    background-color: rgb(33, 35, 39);
}
.loginHeaderIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 1s ease;
}
.loginHeaderIcon:hover{
    background-color: rgb(33, 35, 39);
}




.loginSecondHeader{
    display: flex;
    align-items: center;
    width: 590px;
    height: 48px;
    background-color: green;
    padding-left:15px ;
}